name: Trigger auto deployment for router

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/router-AutoDeployTrigger-9f8b9777-fda7-455a-b4f7-91ec6c9b4519.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.ROUTER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.ROUTER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.ROUTER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: ghcr.io
          registryUsername: ${{ secrets.ROUTER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.ROUTER_REGISTRY_PASSWORD }}
          containerAppName: router
          resourceGroup: marketmind
          imageToBuild: ghcr.io/router:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


